.container {
    margin: 50px;

}

.mere {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}

/* *
  Hebergements à Marseille ** -->**
* */
#heb-a-mars {
    width: 50%;
    height: 900px;
    background: #f2f2f2;
}

.bloc-heb {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bloc-heb article {
    background-color: white;
    border-radius: 15px;
    width: 250px;
    height: 350px;

}

.bloc-heb article img {
    border-radius: 15px;
    object-fit: cover;
}

.stars {
    margin-top: 30px;
}

/* *
** Les Plus Populaires ****** 
* */
.bloc-pop {
    width: 30%;
    height: 900px;
    background: #f2f2f2;




}

.pop {
    display: flex;
    align-items: center;
    justify-content: space-around;
}






/* *
*****Partie 3 Activites  ***********
* */

.bloc-activites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.bloc-activites article {
    box-shadow: #f2f2f2 3px 3px;
    border-radius: 15px;
}

.bloc-activites article img {
    height: 450px;
    object-fit: cover;
}

.pi article {
    box-shadow: #f2f2f2 2px 2px;
    border-radius: 15px;

}

.pi article img {
    height: 200px;
    object-fit: cover;

}

/* *
  *
  *****FOOTER***********
  *
  * */

footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    text-align: left;
}

footer div {
    justify-content: center;
    margin: 0 auto;
}

footer ul {
    padding-inline-start: 0px;
    margin-block-start: 0px;
}

footer li {
    font-size: 10px;
}