main {
  margin: 50px;
  text-align: left;

}

h1 {
  text-align: left;
}

nav {
  display: flex;
  align-items: center;
}

.nav-bar {
  width: 100%;

 margin: 0px;
}

.bloc-filtres {
  display: flex;
  margin-top: 10px;
}

.mere {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

/* *
  Hebergements à Marseille ** -->**
* */

#heb-a-mars {
  width: 60%;
  height: 650px;
  background: #f2f2f2;
  border-radius: 15px;
}

.bloc-heb {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bloc-heb article {
  background-color: white;
  border-radius: 15px;
  width: 250px;
  height: 200px;
  margin: 10px;
}

.bloc-heb article img {
  height: 30%;
  border-radius: 15px;
  object-fit: cover;
}

.stars {
  margin-top: 15px;
}

/* *
** Les Plus Populaires ****** 
* */
.bloc-pop {
  width: 30%;
  height: 650px;
  background: #f2f2f2;
  margin: 0 auto;
}

.pop {
  padding: 5px;
}

.bloc-pop article {
  margin: 20px;
}

/* *
*****Partie 3 Activites  ***********
* */

.bloc-activites {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
}

.bloc-activites article {
  box-shadow: #f2f2f2 3px 3px;
  border-radius: 15px;
}

.bloc-activites article img {
  height: 450px;
  object-fit: cover;
}

.pi article {
  box-shadow: #f2f2f2 2px 2px;
  border-radius: 15px;
}

.pi article img {
  height: 200px;
  object-fit: cover;
}

/* *
  *
  *****FOOTER***********
  *
  * */

footer {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  text-align: left;
}

footer div {
  justify-content: center;
  margin: 0 auto;
}

footer ul {
  padding-inline-start: 0px;
  margin-block-start: 0px;
}

footer li {
  font-size: 10px;
}
