main {
  margin: 0 50px;
  text-align: left;
}

/* *
  *****HEADER***********
  * */

nav {

  justify-content: right;
}

.nav-bar {
  padding-top: 30px;
  position: absolute;
  left: 50px;
}

.nav-bar2 {
  order: 2;
  padding-top: 40px;
}


.nav-bar3 li {
  width: 50%;
  margin: 5px auto;
  padding-top: 30px;
  border-bottom: none;
  font-size: 20px;
}

.nav-bar3 li:hover {
  width: 50%;
  margin: 5px auto;
  padding-top: 30px;
  border-top: 2px solid #0065fc;
  border-bottom: none;
  
}


/* *****Localisation ***** */

.bloc-localisation {

  justify-content: left;
}

.max-rechercher {
  width: 130px;
  border-radius: 0 15px 15px 0px;
  font-size: 15px;
  font-weight: 700;
}


/* <!-- ***** Les Filtres*** --> */


.bloc-filtres {
  display: flex;
  margin-top: 10px;
}

.circle {
  border-radius: 20px;
  width: 20px;
}

.mere {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

/* *
  Hebergements à Marseille ** -->**
* */

#heb-a-mars {
  width: 65%;
  height: 700px;
  background: #f2f2f2;
  border-radius: 15px;
}

#heb-a-mars h1 {
  padding: 20px;
  font-size: 25px;
}

.bloc-heb {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.bloc-heb article {
  width: 300px;
  height: 220px;
}

.bloc-heb img {
  width: 290px;
  height: 55%;

}

.stars {
  padding-left: 10px;
}

/* *
** Les Plus Populaires ****** 


* */

.pop {
  padding-left: 20px;
  padding-right: 20px;
}

.pop h1 {
  font-size: 25px;
}

.pop-txt h2 {
  padding: 10px;
  padding-right: 50px;
  font-size: 20px;
  font-weight: 800;
  margin: 0px;
}

.pop-txt p {
  padding-left: 10px;
  margin: 0px;
  padding-bottom: 15px;
  font-size: 15px;
}

.bloc-pop {
  width: 30%;
  height: 700px;
  background: #f2f2f2;
  margin: 0 auto;
  border-radius: 20px;
}

.bloc-pop article {
  margin: 40px;
}


/* *
*****Partie 3 Activites  ***********
* */

.bloc-activites {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.bloc-activites article {
  height: 500px;

}

.bloc-activites article img {
  width: 320px;
  height: 450px;

}

.pi article {
  height: 250px;
  box-shadow: #f2f2f2 2px 2px;
  border-radius: 15px;
}

.pi article img {
  height: 200px;
  object-fit: cover;
}



/* *
  *
  *****FOOTER***********
  *
  * */



footer div {
  padding-right: 250px;
  margin-right: 200px;
}