/* *
*
*****GENERAL***********
*
* */

body {
  font-family: "Allison", cursive;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: black;
}

.fas {
  font-size: 20px;
  color: #0065fc;
}

.fa-star {
  color: #e9e9e9;
  font-size: 12px;
}

.fa-star:hover {
  color: #0065fc;
  font-size: 20px;
}

.fa-star.blue {
  color: #0065fc;
  font-size: 12px;
}

h1 {
  font-size: 20px;
  font-weight: 700;
}

h2 {
  padding: 5px;
  padding-right: 5px;
  font-size: 17px;
  font-weight: 800;
}

h3 {
  padding-left: 20px;
  padding-right: 10px;
}

.decale {
  padding: 10px;
  font-weight: 800;
}

/* *
  *
  *****HEADER***********
  *
  * */

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-bar a {
  color: #0065fc;
  font-weight: 800;
}

.nav-bar2 {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.nav-bar2 li {
  width: 50%;
  text-align: center;
  list-style: none;
  margin: 5px auto;
  padding-bottom: 10px;
  border-bottom: 2px solid #f2f2f2;
}

.nav-bar2 li:hover {
  width: 50%;
  text-align: center;
  list-style: none;
  margin: 5px auto;
  padding-bottom: 10px;
  border-bottom: 2px solid #0065fc;
  border-top: none;
}

.nav-bar2 a {
  font-weight: 600;
}

.nav-bar2 a:hover {
  color: #0065fc;
}

/* *****Localisation ***** */

.bloc-haut {
  margin: 20px;
}

.bloc-haut h1 {
  font-weight: 800;
}
.bloc-localisation {
  display: flex;
  justify-content: space-between;
}

.btn-loc {
  height: 50px;
  width: 50px;
  border-radius: 15px 0px 0px 15px;
  border: none;
}
.fa-map-marker-alt {
  font-size: 20px;
  color: #000000;
}

.bloc-localisation input {
  border: 1px lightgrey solid;
  width: 250px;
}

.min-rechercher {
  width: 60px;
  background-color: #0065fc;
  border-radius: 15px;
  border: none;
  position: relative;
  left: -10px;
}

.fa-search {
  color: white;
  background-color: #0065fc;
  font-size: 18px;
}

.max-rechercher {
  display: none;
}

/* <!-- ***** Les Filtres*** --> */

.bloc-filtres {
  align-items: center;
}

.bloc-filtres button {
  border-radius: 50px;
  background-color: white;
  margin: 5px;
}

.bloc-filtres button:hover {
  color: white;
  background-color: #0065fc;
  box-shadow: 5px 5px 5px black;
}

.btn-filtre {
  height: 50px;

  font-weight: 700;
  border: 2px solid #e0e0e0;
  position: relative;
  padding-left: 60px;
  padding-right: 10px;
}

.cercle-i {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #deebff;
  position: absolute;

  top: -1px;
  left: -5px;
}
.aligne-block {
  display: flex;
  align-items: baseline;
  border-radius: 30px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px rgb(218, 218, 218);
  border-radius: 30px;
  width: 30px;
  height: 20px;
  margin-right: 10px;
}
.fa-info {
  color: #0065fc;
  font-size: 12px;
  text-align: center;
}

/* <!-- ***** Les plus populaires*** --> */

.bloc-pop {
  background: #f2f2f2;
  height: 600px;
}

.pop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 900;
}

.pop h1 {
  font-weight: 800;
}

.pop i {
  color: black;
  font-size: 25px;
}
.bloc-pop article {
  display: flex;
  background-color: white;
  border-radius: 15px;
  margin: 10px;
}

.bloc-pop img {
  width: 40%;
  height: 150px;
  padding: 5px;
  border-radius: 15px 0px 0px 15px;
  object-fit: cover;
}

.bloc-pop div {
  text-align: left;
}

/* <!-- ***** Hebergement à Marseille*** --> */

.bloc-heb article {
  background-color: white;
  border-radius: 15px;
  box-shadow: 10px 5px 5px #f2f2f2;
  margin: 10px;
}

.bloc-heb img {
  width: 98%;
  height: 100px;
  padding: 5px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

.heb-txt h2 {
  padding-left: 10px;
  font-size: 18px;
  font-weight: 800;
  margin: 0px;
}

.heb-txt p {
  padding-left: 10px;
  margin: 0px;
  font-size: 12px;
}

.stars {
  padding: 10px;
}

.affichez-plus {
  padding: 20px;
  font-weight: 800;
}
/* *
*****Partie 3 ***********
* */

.bloc-activites article {
  box-shadow: #f2f2f2 2px 2px;
  border-radius: 15px;
  margin: 10px;
  border: none;
}

.bloc-activites img {
  width: 100%;
  height: 100px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

.g-img article {
  box-shadow: #f2f2f2 2px 2px;
  border-radius: 15px;
}

.g-img article img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

/* *
*
*****FOOTER***********
*
* */

footer {
  background-color: #f2f2f2;
  padding-left: 20px;
}

footer h3 {
  padding: 5px;
  font-weight: 800;
}

footer ul {
  list-style: none;
  padding: 0px;
  font-weight: 500;
}

footer li {
  font-size: 15px;
  padding: 3px;
}

/* 
*****************@ Medias queries************** */

/* Quand la largeur de la fenêtre est au moins de 500px (autre que mobile)  */

@media all and (min-width: 500px) {
  main {
    margin: 50px;
  }
}

@media all and (min-width: 500px) {
  .min-rechercher {
    display: none;
  }

  .max-rechercher {
    display: inline;
    color: white;
    background-color: #0065fc;
    border-radius: 0px 10px 10px 0px;
    border: 0.5px lightgrey solid;
  }
}

/* <!-- ***** Fin @media min*** --> */

/* 
*****************TEST************** */

.test1 {
  width: 50px;
  height: 50px;
}

.test3 {
  display: flex;
  justify-content: space-around;
  width: 75%;
}
